@import "tailwindcss";

@theme {
  --color-blue: #043e89;
  --color-emphasis: #fbda54;
  --color-card: #fff8e7;
  --color-on-dark: #fafafa;
  --color-statusLabel: #b11250;
}

* {
  box-sizing: border-box;
}

html,
body,
#app {
  min-height: 100%;
}

body {
  margin: 0;
}
