@import "tailwindcss";

@theme {
  --color-blue: #043e89;
  --color-emphasis: #fbda54;
  --color-progress: #fa9303;
  --color-input: #fffdf7;

  --color-card: #fff8e7;
  --color-card-muted: #dfdfdf;

  /* text */
  --color-on-dark: #fafafa;
  --color-statusLabel: #b11250;
  --color-muted: #38474d;
}

* {
  box-sizing: border-box;
}

html,
body,
#app {
  min-height: 100%;
}

body {
  margin: 0;
}
