@import "tailwindcss";

@theme {
  --color-blue: #043e89;
  --color-emphasis: #fbda54;
  --color-input: #fffdf7;
  --color-progress: #fa9303;

  --color-card: #fff8e7;
  --color-card-muted: #dfdfdf;

  /* text */
  --color-on-dark: #fafafa;
  --color-statusLabel: #b11250;
  --color-muted: #38474d;

  --color-ring-1: #b11250;
  --color-ring-2: #da1E30;
  --color-ring-3: #f75610;
  --color-ring-4: #fa9303;
  --color-ring-5: #fdd130;
  --color-ring-6: #fff6E8;

  --color-popover: #fffdf7;
  --color-popover-foreground: #38474d;
  --color-accent: #fff8e7;
  --color-accent-foreground: #38474d;
}

* {
  box-sizing: border-box;
}

html,
body,
#app {
  min-height: 100%;
}

body {
  margin: 0;
}
